@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
body{
  background: black;
}
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size: 1.25em;
}
 body{
  background-color: black;
 }

.sideNav {
background: rgb(158, 158, 158);
border-right: 0;
position:absolute;
top:0;
bottom:0;
height:100%;
right: 0;
width: 4%;
overflow:hidden;

transition:width .05s linear;

z-index:1000;
}

.sideNav>ul {
margin: 0.994vh 0;
}



.sideNav li>button {
position:relative;
display:table;
border: none;
border-collapse:collapse;
border-spacing:0;
background: rgb(158, 158, 158);
color: rgb(0, 0, 0);
 font-family: arial;
font-size: auto;
width: 100%;
text-decoration:none;

-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.sideNav .nav-icon {
position:relative;
display:table-cell;
width:8.4vh;
height:5vh;
text-align:center;
vertical-align:middle;

}


/*
.sideNav>ul.expand {
position:absolute;
bottom:0;
}
*/
.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

button:hover,button:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.sideNav li:hover button,
nav.sideNav li.active>button,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover button,
.dashboard-page nav.dashboard-menu ul li.active button {
color:rgb(158, 158, 158);
background-color:rgb(255, 255, 255);
}
.area {
float: left;
background: rgb(22, 22, 22);
width: 100%;
height: 100%;
}


.sideCont{
  color: rgb(0, 0, 0);
  background: rgb(158, 158, 158);
  
  
  text-align: center;
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  right: 0;
  margin-right: 4%;
  width: 20%;
  overflow-y:  auto;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;

  
}


@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}




.featuredBtn.active {
  color:rgb(22, 22, 22);
  background-color:rgb(255, 255, 255);
}

.featuredBtn {
  background: rgb(22, 22, 22);
  color: rgb(255, 255, 255);
}

/*
.video
{
    position: relative;
}
*/

.plyr_video_wrapper{
    background: #000;
    height: 100%;
    margin: auto;
    overflow: hidden;
    width: 100%;
}

.video-player {
  position: absolute;
  left: 0;
  right: 100px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 76%;
}


/*detail sideCont scrollbar css*/

::-webkit-scrollbar {
  width: 1vh;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5vh rgb(15, 15, 15); 
  border-radius: 1vh;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4d4d; 

  border-radius: 1vh;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}

/* embeded video css*/

.myIframe {
  position: relative;
  left: -2vh;
  margin-top: -1vh;
  padding-bottom: 98vh;
  margin-right: 22%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; /*<<--- THIS IS THE KEY*/ 
}

.myIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
